apiVersion: v1
kind: Secret
metadata:
  name: chatapp-secrets
  namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  # MongoDB credentials (base64)
  mongo_username: {{ .Values.secrets.mongoUsername }}
  mongo_password: {{ .Values.secrets.mongoPassword }}

  # Backend / app keys (base64)
  jwt: {{ .Values.secrets.jwt }}
  cloud_name: {{ .Values.secrets.cloudName }}
  api_key: {{ .Values.secrets.apiKey }}
  api_secret: {{ .Values.secrets.apiSecret }}